a:link {
    text-decoration: none;
}

.bookCard {
    height: 15rem;
    display: flex;
    flex-direction: row;
    width: calc((100vw - 12rem - 12rem - 2rem)/2);
    background: #FFFFFF;
    box-shadow: 0rem 0.375rem 0.625rem rgba(25, 25, 25, 0.1);
    border-radius: 0.1875rem;
    .bookCard-bookThumbnail {
        margin-top: calc((15rem - 11.75rem)/2);
        height: 11.75rem;
        width: 8rem;
        margin-left: 1.75rem;
        border: 0.0625rem solid black;
    }
    .bookCard-bookInfo {
        margin-top: calc((15rem - 11.75rem)/2);
        text-decoration: none;
        color: black;
        font-size: 0.875rem;
        margin-left: 2rem;
        margin-right: 1.75rem;
        text-align: left;
        white-space: wrap;
        text-overflow: ellipsis;
        .cardLabel {
            font-weight: bold;
            margin-right: 0.125rem;
        }
    }
}