.bookInfo {
    width: 60rem;
    margin: auto;
    margin-bottom: 8rem;
    .title {
        margin-top: 3rem;
        font-size: 22px;
        font-weight: 800;
    }

    .bookProperties {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 3rem;
        height: 20rem;
        margin-bottom: 3rem;
        .image {
            margin: auto;
            width: 30rem;
            .thumbnail {
                margin-bottom: 5rem;
                transform: scale(1.5);
            }
        }
        .smallInfo {
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            vertical-align: middle;
            text-align: left;
            width: 30rem;
            justify-content: center;
        }
    }

    .descLabel {
        font-size: 1.25rem;
        font-weight: 500;
        color: black;
    }
    .description {
        margin-top: 1rem;
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: 5rem;
    }
    .suggestions {
        .suggestedBooks {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}