.pagination {
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    text-align: center;
    .pagination-prev, .pagination-next {
        color: red;
        margin-right: 2.5rem;
        &:hover {
            cursor: pointer;
        }
    }
    .pagination-list {
        display: flex;
        flex-direction: row;
        .pagination-element {
            margin-right: 1.5625rem;
            &:hover {
                cursor: pointer;
            }
            &.active {
                width: 2rem;
                font-weight: 600;
                color: white;
                background: orangered;
                border-radius: 3px;
            }
            &.isDisabled {
                color: gray;
            }
        }
    }
}
