.pagination {
    width: 20rem;
    height: max-content;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    font-size: 1.25rem;
    text-align: center;
    .pagination-prev, .pagination-next {
        color: red;
        margin-right: 2.5rem;
    }
    .pagination-list {
        display: flex;
        flex-direction: row;
        .pagination-element {
            margin-right: 1.5625rem;
            &.active {
                font-weight: bold;
            }
        }
    }
}
