.searchbar {
    margin-top: 2rem;
    .field {
        margin-right: 8rem;
        text-align: right;
        margin-bottom: 1rem;
        .searchfield {
            width: 40rem;
            height: 1rem;
            border: none;
            padding: 0.625rem;
            border-radius: 0.1875rem;
            background: #F2F2F2;
            box-shadow: inset 0rem 0.375rem 0.625rem rgba(0, 0, 0, 0.05);
            border-radius: 0.3125rem;
            margin-right: auto;
        }
    }
    .properties {
        display: flex;
        flex-direction: row;
        margin-top: 3rem;
        height: 2rem;
        .sortBy {
            margin-left: auto;
            width: max-content;
            .sortButton {
                background: white;
                border: none;
                margin-right: auto;
                border: 0.0938rem solid orangered;
                height: 2rem;
                padding: 0rem 1.25rem;
                vertical-align: middle;
                color: orangered;
            }
            .left-button {
                border-radius: 0.1875rem 0px  0px 0.1875rem;
            }
            .right-button {
                border-radius: 0px 0.1875rem 0.1875rem 0px;
            }
            .active {
                background: orangered;
                border: none;
                color: white;
            }
        }
    }
}

.label {
    font-weight: 600;
    margin-right: 0.625rem;
}

.button {
    padding: 0.375rem 2rem;
    height: calc(1rem + 2* 0.625rem);
    border: none;
    margin-left: 1rem;
    color: white;
    background: orangered;
    box-shadow: 0rem 0.375rem 0.625rem rgba(255, 103, 0, 0.3);
    border-radius: 0.1875rem;
    margin-top: 1rem;
}